<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Weather App - About</title>
        <link rel="icon" href="./img/titleIcon.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img src="./img/robot.png" class="portrait" alt="Robot">
        </div>

        {{>footer}}
    </body>
</html>