<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Weather App - Help</title>
        <link rel="icon" href="./img/titleIcon.png">        
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{message}}</p>
        </div>

        {{>footer}}
    </body>
</html>